@import "tailwindcss";

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #dadcdf7a;
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(187, 187, 187, 0.404),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-small {
  background: 
    linear-gradient(
      90deg,
      #e9e9e9a2 0%,
      #d9d9d9d2 50%,
      #e9e9e9a2 100%
    );
  background-size: 200% 100%;
  animation: skeletonShimmer 2s infinite linear;
}

@keyframes skeletonShimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
